* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:column;
}

canvas {
  width: 100%;
  flex: 1;
}

.menu-container {
  flex: 0 0 auto;
  width: 100%;
  height: 15%;
  max-height: 300px;
  order: 2;

  display: flex;
  flex-direction:column;

  /* TODO: remove */
  border: 2px solid purple;
}

#color-picker {
  width: 100%;
  flex: 1;

  /* TODO: remove */
  border: 2px solid green;
}

.button-container {
  flex: 0 0 auto;
  width: 100%;
  min-height: 1rem;
  max-height: 2rem;
  order: 2;
}